<div id="div-container" class="container">
  <!-- Aregar mt-x para que el div container tenga un margen de x -->
  <div class="row">
    <div class="col">
      <div class="mat-typography">
        <h4 class="mat-h1">Ventana de hechos</h4>
        <h4 class="mat-h4">Porfavor completar los siguientes datos con información 
          fidedigna y confiable para resolverle a la brevedad posible su denuncia.</h4>
      </div>
    </div>
</div>
<hr>
<div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datos
        </mat-panel-title>
        <mat-panel-description>
          Sobre los hechos
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Institución donde sucedieron los hechos" [formControl]="institucion" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Director del centro escolar" [formControl]="director" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Numero de identificación de centro escolar" [formControl]="identificacionce" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Descripción de los hechos" [formControl]="hechosdesc" required></textarea>
      </mat-form-field>

      <div class="mat-body-2">¿En qué fecha ocurrieron los hechos?</div>
      <mat-form-field>
        <input matInput placeholder="Fecha inicio" [matDatepicker]="picker1" (focus)="picker1.open()" readonly [formControl]="fechahechosi" required>
      </mat-form-field>
      <mat-datepicker id="datepicker-1" #picker1>
      </mat-datepicker>

      <mat-form-field>
        <input matInput placeholder="Fecha final" [matDatepicker]="picker2" (focus)="picker2.open()" readonly [formControl]="fechahechosf" required>
      </mat-form-field>
      <mat-datepicker #picker2>
      </mat-datepicker>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Adicional
        </mat-panel-title>
        <mat-panel-description>
          Añadir más información
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-tab-group dynamicHeight>
        <mat-tab label="Parte 1">
          <div class="mat-body-2">¿Sufrió algún tipo de daño físico?</div>
          <mat-radio-group class="example-radio-group" aria-label="Select an option">
            <mat-radio-button class="example-radio-button" value="1">SI</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="2">NO</mat-radio-button>
          </mat-radio-group>
        </mat-tab>
        <mat-tab label="Parte 2">
          <div class="mat-body-2">¿Inversición en recuperación del daño causado?</div>
          <mat-form-field >
            <input matInput placeholder="Monto" type="number" class="example-right-align">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
        </mat-tab>
        <mat-tab label="Parte 3">
          <div class="container">
            <div class="mat-body-2">Agregar archivo de prueba:</div>
            <button mat-raised-button color="accent" (click)="openDialogDocumento()" [disabled]="disabled">Cargar <i class="material-icons">attach_file</i></button>
          </div>  
        </mat-tab>
      </mat-tab-group>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Otros
        </mat-panel-title>
        <mat-panel-description>
          Brindar más información
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="example-full-width">
        <mat-label>Otra entienda donde tenga procesos abiertos</mat-label>
        <mat-select>
          <mat-option *ngFor="let entidad of entidades" [value]="entidad.value" >
            {{entidad.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Escriba # de expediente y mediador de ese caso</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>

      <app-model-funcionario></app-model-funcionario>
      <!-- <button mat-flat-button color="warn">Añadir Funcionario</button> -->

    </mat-expansion-panel>
  </mat-accordion>
  
  <div>
    <button id="btn-save" mat-raised-button color="primary" (click)="openDialogDatos()" >Guardar <i class="material-icons">save</i></button>
  </div>
</div>
</div>
