
<div class="container mt-5 mb-5">
    <mat-toolbar color="primary">FAQ</mat-toolbar>
    <mat-accordion displayMode="default" [multi]="false" class="faq-container">
        <mat-expansion-panel>
            <mat-expansion-panel-header>¿Quieres recibir una asesoría?</mat-expansion-panel-header>
                <p>
                    Si lo que necesitas es recibir una asesoría, te puedes poner en contacto al correo 
                    mined@mined.gob.sv, brindando tus datos para contactarte antes que realices otra 
                    denuncia o decidas llegar a tu audiencia.
                </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>¿Qué es una denuncia?</mat-expansion-panel-header>
            <p>
                Una denuncia es el proceso mediante el cual un estudiante, padre de familia o encargado, 
                docente y personal administrativo da a conocer acerca de las irregularidades sucedidas 
                tanto dentro como fuera del centro educativo. Y ahora lo puedes hacer online.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>Contacto de oficina</mat-expansion-panel-header>
            <p>
                Si necesitas hacer una denuncia directa de forma anónima o precisa puedes ponerte en 
                contacto con las oficinas centrales al correo mined@mined.gob.sv o al teléfono xxxx-xxxx. 
                Hagamos de nuestro sistema educativo el mejor de Centroamérica.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>¿Por qué es necesario el registro con DUI al momento de presentar una denuncia?</mat-expansion-panel-header>
            <p>
                El documento es necesario para identificar fehacientemente a toda persona natural, 
                salvadoreña, en todo acto público o privado, tanto dentro del país, como en el caso de 
                la denuncia que actualmente se desea presentar. 
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>¿Cuánto es el tiempo estimado en que me pueden resolver mi denuncia?</mat-expansion-panel-header>
            <p>
                La denuncia será resuelta en el tiempo estimado por la Junta de la Carrera Docente en la cual se 
                presente, atendiendo a los tiempos de respuesta de cada Junta, ellos indicaran el momento hora y 
                lugar para resolver.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>¿Es necesario que muestre mi compromiso cuando llegue a la resolución de mi denuncia?</mat-expansion-panel-header>
            <p>
                Si, para que al momento de resolver para cada uno de los hechos que se presenten tenga la validez legal de ser atendido.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>¿Cómo se pondrán en contacto conmigo?</mat-expansion-panel-header>
            <p>
                Al inicio se le solicita ingresar su correo electrónico debe hacerlo de manera correcta con un correo valido, al
                mismo se le estarán enviando los resultados para seguir con su proceso.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>¿Cómo hago si no tengo los datos del funcionario que estoy denunciando?</mat-expansion-panel-header>
            <p>
                No se preocupe, esos datos serán verificados por un funcionario autorizado del MINED que editara y completara la 
                información para que usted pueda ser atendido a la brevedad posible.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>¿Quiénes seran los encargados de aplicar la sanción a quien denuncie?</mat-expansion-panel-header>
            <p>
                Los miembros de las Juntas de la Carrera Docente, mismos que estaran integrados por representantes del 
                MINED, CSJ y Sector Docente.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>¿Cómo puedo editar mis datos de contacto?</mat-expansion-panel-header>
            <p>
                Deberá comunicarse con la oficina correspondiente para que editen sus peticiones.
            </p>
        </mat-expansion-panel>
    </mat-accordion>
</div>