<div class="container mt-3">
    <h3 class="text-center">ETAPA ACTUAL DE LA DENUNCIA</h3>
    <br>
    <mat-card>
        <mat-tab-group dynamicHeight [selectedIndex]="estadoDenuncia">
            <mat-tab label="Registrada" >
                <div class="container" *ngIf="this.estadoDenuncia==0">
                    <div class="table-data">
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="expediente">
                                <th mat-header-cell *matHeaderCellDef> Expediente </th>
                                <td mat-cell *matCellDef="let element"> {{element.noExpediente}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="registro">
                                <th mat-header-cell *matHeaderCellDef> Registro </th>
                                <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date:'shortDate'}} </td>
                            </ng-container>
                    
                            <ng-container matColumnDef="modificacion">
                                <th mat-header-cell *matHeaderCellDef> Modificacion </th>
                                <td mat-cell *matCellDef="let element"> {{element.fechaModificacion | date:'shortDate'}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element"> Registrada </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div class="alert alert-warning text-center mt-3 mb-3">
                        {{TextoByEstado(0)}}
                    </div>
                </div>
                <div class="alert alert-primary text-center mt-3 mb-3" *ngIf="this.estadoDenuncia!=0">
                    ¡No hay datos a mostrar en esta etapa, revisa los otros estados posibles!
                </div>
            </mat-tab>
            <mat-tab label="Confirmada">
                <div class="container" *ngIf="this.estadoDenuncia==1">
                    <div class="table-data">
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="expediente">
                                <th mat-header-cell *matHeaderCellDef> Expediente </th>
                                <td mat-cell *matCellDef="let element"> {{element.noExpediente}} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="registro">
                                <th mat-header-cell *matHeaderCellDef> Registro </th>
                                <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date:'shortDate'}} </td>
                            </ng-container>
                    
                            <ng-container matColumnDef="modificacion">
                                <th mat-header-cell *matHeaderCellDef> Modificacion </th>
                                <td mat-cell *matCellDef="let element"> {{element.fechaModificacion | date:'shortDate'}} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element"> Confirmada </td>
                            </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div class="alert alert-info text-center mb-3 mt-3" role="alert">
                        {{TextoByEstado(1)}}
                    </div>
                </div>
                <div class="alert alert-primary text-center mt-3 mb-3" *ngIf="this.estadoDenuncia!=1">
                    ¡No hay datos a mostrar en esta etapa, revisa los otros estados posibles!
                </div>
            </mat-tab>
            <mat-tab label="Proceso">
                <div class="container" *ngIf="this.estadoDenuncia==2">
                    <div class="table-data">
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="expediente">
                                <th mat-header-cell *matHeaderCellDef> Expediente </th>
                                <td mat-cell *matCellDef="let element"> {{element.noExpediente}} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="registro">
                                <th mat-header-cell *matHeaderCellDef> Registro </th>
                                <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date:'shortDate'}} </td>
                            </ng-container>
                    
                            <ng-container matColumnDef="modificacion">
                                <th mat-header-cell *matHeaderCellDef> Modificacion </th>
                                <td mat-cell *matCellDef="let element"> {{element.fechaModificacion | date:'shortDate'}} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element"> Proceso </td>
                            </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div class="alert alert-info text-center mb-3 mt-3" role="alert">
                        {{TextoByEstado(2)}}
                    </div>
                </div>
                <div class="alert alert-primary text-center mt-3 mb-3" *ngIf="this.estadoDenuncia!=2">
                    ¡No hay datos a mostrar en esta etapa, revisa los otros estados posibles!
                </div>
            </mat-tab>
            <mat-tab label="Finalizada">
                <div class="container" *ngIf="this.estadoDenuncia==3">
                    <div class="table-data">
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="expediente">
                                <th mat-header-cell *matHeaderCellDef> Expediente </th>
                                <td mat-cell *matCellDef="let element"> {{element.noExpediente}} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="registro">
                                <th mat-header-cell *matHeaderCellDef> Registro </th>
                                <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date:'shortDate'}} </td>
                            </ng-container>
                    
                            <ng-container matColumnDef="modificacion">
                                <th mat-header-cell *matHeaderCellDef> Modificacion </th>
                                <td mat-cell *matCellDef="let element"> {{element.fechaModificacion | date:'shortDate'}} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element"> Finalizada </td>
                            </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div class="alert alert-success text-center mt-3 mb-3" role="alert">
                        {{TextoByEstado(3)}}
                    </div>
                </div>
                <div class="alert alert-primary text-center mt-3 mb-3" *ngIf="this.estadoDenuncia!=3">
                    ¡No hay datos a mostrar en esta etapa, revisa los otros estados posibles!
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
