<div class="container mt-3">
    <h3 class="text-center">ETAPA ACTUAL DE LA DENUNCIA</h3>
    <!-- <mat-grid-list class="mt-3 mb-3" cols="1" rowHeight="100px">
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            [style.background]="colorRegistrada">
            <p>DENUNCIA REGISTRADA </p>
                <div *ngIf="this.gestion.estado==0"><p><mat-icon>done</mat-icon></p>
                <p>Debes ingresar a tu correo: {{this.correoUser}}, y seguir el url que te enviamos para confirmar tu denuncia</p>
                <p>{{gestion.fechaModificacion}}</p></div>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            [style.background]="colorConfirmada">
            DENUNCIA CONFIRMADA <div *ngIf="this.gestion.estado==1"><span><mat-icon>done</mat-icon></span>
                <p>Su denuncia ya ha sido confirmada, en los proximos dias entrara en proceso</p>
            <p>{{gestion.fechaModificacion}}</p></div>

        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            [style.background]="colorProceso">
            DENUNCIA EN PROCESO <div *ngIf="this.gestion.estado==2"><span><mat-icon>done</mat-icon></span>
                <p>Su denuncia esta en proceso, en los siguientes dias se le solicitara informacion de ser necesario</p>
            <p>{{gestion.fechaModificacion}}</p></div>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            [style.background]="colorFinalizada">
            DENUNCIA FINALIZADA <div *ngIf="this.gestion.estado==3"><span><mat-icon>done</mat-icon></span>
                <p>El proceso de su denuncia ha finalizado, le agradecemos por ser parte de este proceso y hacer de nuestras instituciones un lugar mas etico</p>
            <p>{{gestion.fechaModificacion}}</p></div>
        </mat-grid-tile>
    </mat-grid-list> -->
    <br>
    <mat-card>
        <mat-tab-group dynamicHeight>
            <mat-tab label="Registrada">
                <div class="container" *ngIf="this.estadoDenuncia==0">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="expediente">
                            <th mat-header-cell *matHeaderCellDef> Expediente </th>
                            <td mat-cell *matCellDef="let element"> {{element.noExpediente}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="registro">
                            <th mat-header-cell *matHeaderCellDef> Registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date:'shortDate'}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="modificacion">
                            <th mat-header-cell *matHeaderCellDef> Modificacion </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaModificacion | date:'shortDate'}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef> Estado </th>
                            <td mat-cell *matCellDef="let element"> Registrada </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div class="bg-warning text-dark text-center mt-3 mb-3">
                        Debes entrar a tu correo {{this.correoUser}}, para confirmar tu denuncia y pasar a la siguiente etapa.
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Confirmada">
                <div class="container" *ngIf="this.estadoDenuncia==1">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="expediente">
                            <th mat-header-cell *matHeaderCellDef> Expediente </th>
                            <td mat-cell *matCellDef="let element"> {{element.noExpediente}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="registro">
                            <th mat-header-cell *matHeaderCellDef> Registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="modificacion">
                            <th mat-header-cell *matHeaderCellDef> Modificacion </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaModificacion}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef> Estado </th>
                            <td mat-cell *matCellDef="let element"> Confirmada </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div>
                        Texto opcional con indicaciones.
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Proceso">
                <div class="container" *ngIf="this.estadoDenuncia==2">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="expediente">
                            <th mat-header-cell *matHeaderCellDef> Expediente </th>
                            <td mat-cell *matCellDef="let element"> {{element.noExpediente}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="registro">
                            <th mat-header-cell *matHeaderCellDef> Registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="modificacion">
                            <th mat-header-cell *matHeaderCellDef> Modificacion </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaModificacion}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef> Estado </th>
                            <td mat-cell *matCellDef="let element"> Proceso </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div>
                        Texto opcional con indicaciones.
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Finalizada">
                <div class="container" *ngIf="this.estadoDenuncia==3">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="expediente">
                            <th mat-header-cell *matHeaderCellDef> Expediente </th>
                            <td mat-cell *matCellDef="let element"> {{element.noExpediente}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="registro">
                            <th mat-header-cell *matHeaderCellDef> Registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="modificacion">
                            <th mat-header-cell *matHeaderCellDef> Modificacion </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaModificacion}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef> Estado </th>
                            <td mat-cell *matCellDef="let element"> Finalizada </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div>
                        Texto opcional con indicaciones.
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
