.btn_siguiente {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.container {
    align-content: center;
    max-width: 960px;
    background: #d6d4d4;
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
  }

.example-container {
    padding: 16px;
    margin-bottom: 0rem;
}
  
h1{
    color: #3f51b5;
    text-align: center;
}