<div class="container" role="main">
  <div  [formGroup]="datosFormGroup" novalidate>
    <div class="row mt-3" >
      <div class="col">
        <div class="mat-typography">
          <h1 class="mat-h1 text-danger">DATOS DEL DENUNCIANTE</h1>
          <h4 class="mat-h4 text-light bg-dark">Completar los campos obligatorios para solventar a la brevedad posible su denuncia</h4>
        </div>
      </div>
    </div>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personales
          </mat-panel-title>
          <mat-panel-description>
            <div class="mat-panel-description">Validar utilizando documento de identidad</div>
            <mat-icon class="icon-panel-description">account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-label>Tipo de documento</mat-label>
            <mat-select formControlName="tipodocumentoCtrl" required [cdkTrapFocus] >
              <mat-option value="DUI">DUI</mat-option>
              <!-- <mat-option *ngFor="let documento of documentos" [value]="documento.value" >
                {{documento.value}}
              </mat-option> -->
            </mat-select>
            <mat-error *ngIf="tipodocumentoFC.hasError('required')">Por favor elige el tipo documento</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Número de documento" formControlName="documentoCtrl" [textMask]="{mask:duiMask}" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Fecha de nacimiento" formControlName="fechanacimientoCtrl" [matDatepicker]="picker" (focus)="picker.open()" readonly required>
          </mat-form-field>
          <mat-datepicker #picker></mat-datepicker>
          <button type="button" color="primary" class="btn-lg btn-block" mat-raised-button (click)="getContacto(documentoFC.value,tipodocumentoFC.value,fechanacimientoFC.value)" >Validar Identidad</button>
          <hr>
          <mat-form-field class="example-full-width">
            <input type="text"  matInput placeholder="Nombre" formControlName="nombreCtrl" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="text"  matInput placeholder="Apellido" formControlName="apellidoCtrl" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="text"  matInput placeholder="Departamento" formControlName="departamentoCtrl" >
          </mat-form-field>
        <mat-action-row>
          <button mat-stroked-button color="accent" (click)="nextStep()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contactar
          </mat-panel-title>
          <mat-panel-description>
            <div class="mat-panel-description">Datos para comunicación o ubicación</div>
            <mat-icon class="icon-panel-description">map</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <mat-form-field class="example-full-width">
              <span matPrefix>+503 &nbsp;</span>
              <input matInput placeholder="Movil" [textMask]="{mask:telefonoMask}" formControlName="telefonomovilCtrl" required >
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <span matPrefix>+503 &nbsp;</span>
              <input matInput placeholder="Casa" [textMask]="{mask:telefonoMask}" formControlName="telefonocasaCtrl" >
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
          </tr>
        </table>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Introduce tu correo electrónico" formControlName="emailCtrl" required >
          <mat-error *ngIf="emailFC.invalid">{{getErrorEmailMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" hintLabel="Maximo 75 caracteres">
          <textarea matInput placeholder="Dirección" formControlName="direccionCtrl" required  maxlength="75" #direccion ></textarea>
          <mat-hint align="end">{{direccion.value?.length || 0}}/75</mat-hint>
        </mat-form-field>

        <mat-action-row>
          <button mat-stroked-button color="warn" (click)="prevStep()">Volver</button>
          <button mat-stroked-button color="accent" (click)="nextStep()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Preguntas
          </mat-panel-title>
          <mat-panel-description>
            <div class="mat-panel-description">Marcar según el caso</div>
            <mat-icon class="icon-panel-description">edit</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-sm-12">
            <div id="example-radio-group-label" class="mat-body-2">Tipo de denuncia:</div>
            <mat-radio-group class="example-radio-group" aria-label="Selecciona una opción" formControlName="tipodenunciaCtrl" required>
              <mat-radio-button class="example-radio-button" value="Abuso de autoridad">Abuso de autoridad</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="Faltas escolares">Faltas escolares</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="Acoso estudiantil">Acoso estudiantil</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-sm-12">
            <div id="example-radio-group-label" class="mat-body-2">Trabaja o estudia en el lugar:</div>
              <mat-radio-group class="example-radio-group" aria-label="Selecciona una opción" formControlName="trabajalugarCtrl" required>
                <mat-radio-button class="example-radio-button" value="SI">SI</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="NO">NO</mat-radio-button>
              </mat-radio-group>
          </div>
          <div class="col-sm-12">
            <div id="example-radio-group-label" class="mat-body-2">Es representante legal del estudiante:</div>
              <mat-radio-group class="example-radio-group" aria-label="Selecciona una opción" formControlName="representantelegalCtrl" required>
                <mat-radio-button class="example-radio-button" value="SI">SI</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="NO">NO</mat-radio-button>
              </mat-radio-group>
          </div>
        </div>

        <mat-action-row>
          <button mat-stroked-button color="warn" (click)="prevStep()">Volver</button>
          <button mat-stroked-button color="accent" (click)="setStep(4)">Finalizar</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="row mt-3">
        <div class="col">
          <div class="mat-typography">
            <h1 class="mat-h1 text-danger">VENTANA DE HECHOS</h1>
            <h4 class="mat-h4 text-light bg-dark">Por favor completar los siguientes datos con información 
              fidedigna y confiable para resolverle a la brevedad posible su denuncia.</h4>
          </div>
        </div>
    </div>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Datos
          </mat-panel-title>
          <mat-panel-description>
            <div class="mat-panel-description">Sobre los hechos</div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Codigo del centro escolar" formControlName="codigoceCtrl" [matAutocomplete]="autoce" required #cod>
          <mat-autocomplete #autoce="matAutocomplete" (optionSelected)="complementarce(cod.value)" >
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.codigoCe">{{option.nombreCe}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Director del centro escolar" formControlName="directorceCtrl" required disabled>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nombre del centro escolar" formControlName="nombreceCtrl" required disabled>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Departamento del centro escolar" formControlName="departamentoceCtrl" required disabled>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Dirección del centro escolar" formControlName="direccionceCtrl" required disabled>
        </mat-form-field>
        <mat-form-field class="example-full-width" hintLabel="Maximo 4000 caracteres">
          <textarea matInput placeholder="Descripción de los hechos" formControlName="hechosdescCtrl" required maxlength="4000" #desHechos></textarea>
          <mat-hint align="end">{{desHechos.value?.length || 0}}/4000</mat-hint>
        </mat-form-field>
        <div class="mat-body-2">¿En qué fecha ocurrieron los hechos?</div>
        <div class="row justify-content-center">
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Fecha inicio" formControlName="fechahechosiCtrl" [matDatepicker]="picker1" (focus)="picker1.open()" readonly required >
            </mat-form-field>
            <mat-datepicker #picker1>
            </mat-datepicker>
          </div>
          <div class="col-sm-4 offset-sm-2">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Fecha final" formControlName="fechahechosfCtrl" [matDatepicker]="picker2" (focus)="picker2.open()" readonly required >
            </mat-form-field>
            <mat-datepicker #picker2>
            </mat-datepicker>
          </div>
        </div>
        <mat-action-row>
          <button mat-stroked-button color="accent" (click)="nextStep()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Adicional
          </mat-panel-title>
          <mat-panel-description>
            <div class="mat-panel-description">Añadir más información</div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-tab-group dynamicHeight [color]="['accent']" [backgroundColor]="['primary']">
          <mat-tab label="Parte 1">
            <div class="mat-body-2">¿Sufrió algún tipo de daño físico?</div>
            <mat-radio-group class="example-radio-group" aria-label="Selecciona una opción" formControlName="agresionfisicaCtrl" required>
              <mat-radio-button class="example-radio-button" value="SI">SI</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="NI">NO</mat-radio-button>
            </mat-radio-group>
            <div class="mat-body-2">¿Sufrió algún tipo de daño verbal?</div>
            <mat-radio-group class="example-radio-group" aria-label="Selecciona una opción" formControlName="agresionverbalCtrl" required>
              <mat-radio-button class="example-radio-button" value="SI">SI</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="NO">NO</mat-radio-button>
            </mat-radio-group>
          </mat-tab>
          <mat-tab label="Parte 2">
            <div class="mat-body-2">¿Inversición en recuperación del daño causado?</div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Monto" type="text" formControlName="inversionrecuperacionCtrl" class="example-right-align">
              <span matPrefix>$&nbsp;</span>
              <mat-error *ngIf="inversionrecuperacionFC.hasError('required')">Campo requerido</mat-error>
              <!-- <span matSuffix>.00</span> -->
            </mat-form-field>
          </mat-tab>
          <mat-tab label="Parte 3">
            <div class="container">
              <div class="mat-body-2">Agregar archivo de prueba:</div>
              <button mat-raised-button color="primary" (click)="DialogDocumento()" [disabled]="disabledBtnUpload">Cargar <mat-icon>attach_file</mat-icon></button>
            </div>  
          </mat-tab>
        </mat-tab-group>

        <mat-action-row>
          <button mat-stroked-button color="warn" (click)="prevStep()">Volver</button>
          <button mat-stroked-button color="accent" (click)="nextStep()">Siguiente</button>
        </mat-action-row>

      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Otros
          </mat-panel-title>
          <mat-panel-description>
            <div class="mat-panel-description">Brindar más información</div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="example-full-width">
          <mat-label>Otra entidad donde tenga procesos abiertos</mat-label>
          <mat-select #entidad formControlName="otroprocesoCtrl">
            <mat-option *ngFor="let entidad of entidades" [value]="entidad.value" >
              {{entidad.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" hintLabel="Maximo 200 caracteres">
          <mat-label>Escriba # de expediente y mediador de ese caso</mat-label>
          <textarea matInput formControlName="desotroprocesoCtrl" maxlength="200" [disabled]="entidad.value=='NINGUNA'" #desOtroProceso></textarea>
          <mat-hint align="end">{{desOtroProceso.value?.length || 0}}/200</mat-hint>
        </mat-form-field>

        <button class="mt-2" mat-raised-button color="primary" (click)="DialogFuncionario()">Añadir Funcionario</button>
  
        <mat-action-row>
          <button mat-stroked-button color="warn" (click)="prevStep()">Volver</button>
          <button mat-stroked-button color="accent" (click)="nextStep()">Finalizar</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <button color="primary" class="btn-lg btn-block mt-3 mb-3" mat-raised-button (click)="DialogConfirmacion()"
    [disabled]="datosFormGroup.invalid">Finalizar <i class="material-icons">arrow_forward</i>
  </button>
    <!-- <div>
      <button class="btn btn-success btn-lg btn-block mt-3 mb-3" mat-raised-button 
      (click)="DialogDescargar()" >Descargar<mat-icon aria-hidden="false" aria-label="Example cloud_download icon">cloud_download</mat-icon></button>
    </div> -->
</div>

