<div id="div-container" class="container" [class.mat-elevation-z2]="true" >
    <div id="div-img">
        <img src="https://img.icons8.com/bubbles/100/000000/cloud-account-login-male.png" width="100px" height="100px" >
    </div>
    
    <h3>Bienvenido Usuario</h3>
    <div class="mat-body-2">Acceda a su denuncia</div>
    <mat-form-field class="example-full-width">
        <mat-label>Numero de documento</mat-label>
        <input matInput placeholder="00000000-0" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Correlativo de denuncia</mat-label>
        <input matInput placeholder="UI.2014.1132316">
    </mat-form-field>
    <button class="btn btn-success btn-lg btn-block" [routerLink]="['/principal']" 
    mat-raised-button >Iniciar</button>
</div> 
