.container {
    max-width: 400px;
    height: 500px;
    background: #ffffff;
    text-align: center;
    padding: 2rem;
    text-align: center;
}

mat-form-field {
    margin-right: 12px;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  @media (min-width: 400px) {  
    .container {
      margin-top: 3rem;
      margin-bottom: 3rem;
      max-width: 300px;
      border-radius: 0rem;
    }
  }