<mat-card class="container" >
    <div id="div-img">
        <img src="https://img.icons8.com/bubbles/100/000000/cloud-account-login-male.png" width="100px" height="100px" >
    </div>
    
    <h3>Bienvenido Usuario</h3>
    <div class="mat-body-2">Acceda a su denuncia</div>
    <form [formGroup]="inicioFormGroup" (ngSubmit)="IniciarSesion(documento.value,correlativo.value)" novalidate>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Numero de documento</mat-label>
            <input matInput formControlName="duiCtrl" required #documento>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Correlativo de denuncia</mat-label>
            <input matInput placeholder="UI.0-0-0000.0-0.000000000" formControlName="correlativoCtrl" required #correlativo>
        </mat-form-field>
        <button color="accent" class="btn btn-lg btn-block" mat-raised-button 
        [disabled]="inicioFormGroup.invalid">Ingresar</button>
    </form>
    <button color="primary" class="btn btn-lg btn-block mt-3 mb-3" [routerLink]="['/principal']" 
    mat-raised-button >Ingresar Nueva</button>
</mat-card> 
