.container {
    align-content: center;
    max-width: 960px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
  }

.example-container {
    padding: 16px;
    margin-bottom: 0rem;
}
  
h1{
    color: #3f51b5;
    text-align: center;
}

.video_iframe {
    width: 100%;
}

/* @media (max-width: 360px){

    .video_iframe{
        width: auto;
        height: auto;
    }
}

@media (max-width: 580px){

    .video_iframe{
        width: 310px;
        height: 200px;
        overflow: auto;
    }
}
 */

