<div class="container" [class.mat-elevation-z2]="true" >
    
    <div class="mat-typography mt-3">
        <h1 class="mat-h1">SDCMINED</h1>
        <h2 class="mat-h2">Gobierno electrónico a tu alcance</h2>
        <div class="mat-body-1">Una plataforma accesible al publico donde puedes hacer valer tus derechos ante 
            el MINED y la junta de la carrera docente mas cercana para que nos puedas ayudar 
            a formar un sistema educativo mas eficiente y transparente</div>
        <hr>
        <div class="mat-body-1">El ministerio de educacion mediante la direccion de planificacion y 
            la facultad multidisciplinaria oriental de la Universidad de El salvador 
            quienes han diseñado, desarrollado y adaptar esta nueva plataforma de 
            denuncia ciudadana para garantizar un mejor acceso a todos y cada uno de 
            los ciudadanos que decidan presentar incorfomidades con respecto a los 
            educadores o personal administrativo de las diferentes escuelas y colegios 
            registrados en el MINED para un mejor manejo de la informacion presentada 
            de los mismos... El MINED quiere acercarse lo mas que se pueda a las necesidades 
            de cambio y proteccion en la educacion de tus hijos te invitamos a formar parte 
            de esta nueva estrategia de cambio al interior de nuestra institucion conoce 
            mas en el siguiente video</div>
            <hr>    
    </div>
    <div class="video_iframe">
        <iframe height="250px" src="https://sigd-be78b.appspot.com/tesis.mp4" 
    frameborder="0" 
    allowfullscreen>
    </iframe>
    </div>
    <p></p>
    <div class="mb-2">
        <button class="btn btn-primary btn-lg btn-block" [routerLink]="['/compromiso']" 
        mat-raised-button>Siguiente</button>
    </div>          
</div>
