<div class="container mt-3 mb-3">
    <div class="row">
        <!-- <div class="col col-sm-4 mt-2">
            <mat-card class="example-card" [class.mat-elevation-z2]="true">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>¿Quieres recibir una asesoría?</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Si lo que necesitas es recibir una asesoría, te puedes poner en contacto al correo 
                        mined@mined.gob.sv, brindando tus datos para contactarte antes que realices otra 
                        denuncia o decidas llegar a tu audiencia.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col col-sm-4 mt-2">
            <mat-card class="example-card" [class.mat-elevation-z2]="true">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>¿Qué es una denuncia?</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Una denuncia es el proceso mediante el cual un estudiante, padre de familia o encargado, 
                        docente y personal administrativo da a conocer acerca de las irregularidades sucedidas 
                        tanto dentro como fuera del centro educativo. Y ahora lo puedes hacer online.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col col-sm-4 mt-2">
            <mat-card class="example-card" [class.mat-elevation-z2]="true">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Contacto de oficina</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Si necesitas hacer una denuncia directa de forma anónima o precisa puedes ponerte en 
                        contacto con las oficinas centrales al correo mined@mined.gob.sv o al teléfono xxxx-xxxx. 
                        Hagamos de nuestro sistema educativo el mejor de Centroamérica.
                    </p>
                </mat-card-content>
            </mat-card>
        </div> -->
        <div class="col-sm-12 mt-3">
            <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/Petterasm_20/lists/sademined?ref_src=twsrc%5Etfw">A Twitter List by Petterasm_20</a>
        </div>
    </div>
</div>
